## Importar librerias

In [1]:
import pandas as pd

## Cargar datos para crear un Dataframe

In [6]:
ls ..

 Volume in drive C is Windows
 Volume Serial Number is 6690-8353

 Directory of C:\Users\migue\Documents\Develop\Data Science\DataScience_Platzi

28/09/2020  01:28    <DIR>          .
28/09/2020  01:28    <DIR>          ..
28/09/2020  01:26               769 .gitignore
28/09/2020  01:27    <DIR>          notebook
28/09/2020  00:53            44,028 Pokemon.csv
28/09/2020  01:13                70 README.md
               3 File(s)         44,867 bytes
               3 Dir(s)  165,807,665,152 bytes free

In [9]:
data = pd.read_csv('../Pokemon.csv', index_col='#')

In [10]:
data.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Pandas "Series"

In [11]:
type(data['Name'])

pandas.core.series.Series

## Comparar filas dataframe

In [14]:
(data.Name == data['Name'])

#
1      True
2      True
3      True
3      True
4      True
       ...
719    True
719    True
720    True
720    True
721    True
Name: Name, Length: 800, dtype: bool

## Comando de pandas para comparar filas son iguales

In [15]:
(data.Name == data['Name']).all()

True